{{>partials/header}}

<!--Vai repetir o array list com base no models-->
<div class="container list">
</div>

<!--frase da página erro 404-->
    <div class="conatainer no-list">
        <h2>Página não encontrada.</h2>
    </div>

{{>partials/footer}}