{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('/images/{{ background }}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<div class="container list">
    <div class="item">
        <img src="/images/pastor-alemao.jpg" class="item--image" />
        <div class="item--name">Pastor-alemão</div>
        <div class="item--color">Cor: Amarelo e Preto</div>
        <div class="item--genre">Gênero: Masculino</div>
    </div>
</div>
{{>partials/footer}}