{{>partials/header}}

{{#banner}}
<section class="banner" style="background-image: url('/images/{{ background }}')">{{title}}</section>
<h2>{{title}} disponíveis para adoção</h2>
{{/banner}}

<!--Vai repetir o array list com base no models-->
<div class="container list">
    {{#list}}
        <div class="item">
            <img src="images/{{image}}" class="item--image"/>
            <div class="item--name">{{name}}</div>
            <div class="item--color">Cor: {{color}}</div>
            <div class="item--genre">Gênero: {{sex}}</div>
        </div>
    {{/list}}
</div>

<!--quando o pet da list não existir-->
{{^list}}
    <div class="conatainer no-list">
        <h2>Não há animais disponíveis nessas condições.</h2>
    </div>
{{/list}}

{{>partials/footer}}